:host{
    display: flex;
    justify-content: center;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .example-card {
      max-width: 400px;
    }
    
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
  
    .logo-span {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

    }
  
    .container-buttons{
      display: flex;
      justify-content: space-around;

      .button-cancel{
        color: #fff;
        background-color: #c82333;
      }

      .button-send{
        color: #fff;
        background-color: #218838;
      }
    }
  
    .section-container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    } 