:host{
  display: flex;
  justify-content: center;
  background-color: #777;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .logo-span {
    display: flex;
    justify-content: center;    
  
    img {
      width: 150px;
    }
  }

  .container-button-enter {
    display: flex;
    justify-content: center;

    button {
      background-color: #4470D6 !important;
    }
  }

  .container-buttons{
    display: flex;
    justify-content: space-between;
  }

  /* ALINHAMENTO VERTICAL COM FLEXBOX */
  .section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 