<section class="page-404">
    <div class="container">
        <div class="container-text">
            <h1>404<br>Errrrr...or</h1>
        </div>
        <div class="container-image">
            <img class= "image-404" src="../../../assets/img/404-animation-cat.gif" alt="Image error 404">
        </div>
        <div class="text-not-found">
            <h1>Página não encontrada</h1>
            <p>Não repare na bagunça...<br>
            a culpa é do gato!
            </p>
        </div>
        <div class="container-button">
            <button mat-raised-button color="warn"><a class="link" routerLink="/login">Voltar</a></button>
        </div>
    </div>
</section>