:host{
    display: flex;
    justify-content: center;

    // MUDAR COR DA PAGINA ATUAL
    // background: #9796f0;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .example-card {
      max-width: 400px;
    }
  
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
  
    .logo-span {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

    }
  
    .container-buttons{
      display: flex;
      justify-content: space-around;

      .button-cancel{
        color: #fff;
        background-color: #c82333;
      }

      .button-save{
        color: #fff;
        background-color: #218838;
      }
    }
  
    .section-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    } 