<nav class="navbar">
<!-- MENU REPSONSIVO MOBILE -->
    <span class="navbar-toogle" id="mobile">
        <mat-icon>menu</mat-icon>
    </span>

    <!-- MENU RESPONSIVO NAVEGADOR-->
    <span class="logo">
        <img src="../../../assets/img/logo1.png" alt="Logo MyCash">
    </span>

    <!-- LISTA DE CAMINHOS QUE ESTRÃO NO MENU-->
    <ul id="desktop">
        <li>
            <a routerLink="/relatorio-despesa">Relatório de Despesas</a>
        </li>
        <li>
            <a routerLink="/relatorio-receita"> Relatório de Receitas</a>
        </li>
    </ul>
</nav>