/* You can add global styles to this file, and also import other style files */
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host {
    display: flex;
    align-content: center;
}
.card {
    align-content: center;
}